.total-payment {
    border-left: 1px solid #e1e1e1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardBox-payment {
    max-height: 50%;
    overflow-y: auto;
}
.card-payment {
    width: 100%;
    padding: 10px;
}
.img-card-payment {
    height: 50px;
    width: 50px;
}
.img-card-payment img {
    width: 100%;
    height: 100%;
}
.deatil-card-payment, .price-card-payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.deatil-card-payment p, .price-card-payment p {
    font-size: 1.5rem;
    color: #a1a1a1;
    cursor: pointer;
}
.code-payment {
    padding: 20px;
    border-top: 1px solid #e1e1e1;
    width: 85%;
}
.code-payment input {
    padding: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
}
.code-payment div {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: #a1a1a1;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-align: center;
}
.price-payment {
    width: 85%;
    padding: 5px;
    border-top: 1px solid #e1e1e1;
}
.price-payment div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.price-payment div p {
    font-weight: 500;
    font-size: 14px;
}
.price-payment div span {
    color: #a1a1a1;
    font-size: 14px;
}
.total{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 5px;
    border-top: 1px solid #e1e1e1;
}
.payment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e1e1e1;
    padding: 30px;
    width: 100%;
}
.payment-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.payment-address input , .payment-address textarea{
    padding: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
}
.payment-pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border: 1px solid #00a2ff;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.payment-pay img {
    width: 70px;
    height: 70px;
}
.btn-payment {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #00a2ff;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
.user-checked {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .02);
}